#hd ul#nav li {
	float: left;
}

#hd ul#nav li a:link,
#hd ul#nav li a:visited {
	background-color: transparent;
	background-image: url(../img/bg-204-50.png);
}

#hd ul#metanav li {
	float: left;
}

#content #main-panel table tbody tr td {
	border-bottom: 1px solid #e5e5e5;
}


#hd ul#metanav li.hybrid {
	background-color: #e5e5e5;
	padding: 3px 3px 3px 14px;
}

#hd ul#metanav li a:link,
#hd ul#metanav li a:visited {
	background-color: #e5e5e5;
	float: left;
}

#hd ul#metanav li a.logout {
	background-color: #efefef;
	border-left: 1px solid #fff;
	padding: 0 18px;
}

#content #main-panel table {
	width: 99%;
}

#content #side-panel h3 span span {
	display: inline-block;
	padding: 0;
	position: absolute;
	right: 18px;
	top: 5px;
}

#content #main-panel table tr td.shared span {
	background-image: url(../img/icon_pages.gif);
}

#content #main-panel table td.page span {
	background-image: url(../img/icon_page.gif);
}

#content #main-panel table tr td.editor {
	background-image: url(../img/icon_user.gif);
}

#content #main-panel table tr td.admin {
	background-image: url(../img/icon_admin.gif);
}

#hd ul#nav li.selected {
	background-image: url(../img/point.gif);
}

#content #h1 #help {
	background-image: url(../img/help.gif);
}

#content #side-panel h3 {
	background-image: url(../img/point-lt.gif);
}

#content #side-panel h3.em {
	background-image: url(../img/point.gif);
}

