				<ul class="example-menu five">
					<li>Monday
						<ul>
							<li><perch:content id="monday" type="text" label="Monday meal"/><perch:if exists="monday"><span><perch:content id="monday_side" type="text" label="Monday side"/></span></perch:if></li>
							<li><perch:content id="monday_main_veg" type="text" label="Monday vegitarian meal"/><perch:if exists="monday_side"><span><perch:content id="monday_side_veg" type="text" label="Monday vegitarian side"/></span></perch:if></li>
						</ul>
						</li>
					<li>Tuesday
						<ul>
							<li><perch:content id="tuesday" type="text" label="Tuesday meal"/><perch:if exists="tuesday"><span><perch:content id="tuesday_side" type="text" label="Tuesday side"/></span></perch:if></li>
							<li><perch:content id="tuesday_main_veg" type="text" label="Tuesday vegitarian meal"/><perch:if exists="tuesday_side"><span><perch:content id="tuesday_side_veg" type="text" label="Tuesday vegitarian side" /></span></perch:if></li>
						</ul>
						</li>
					<li>Wednesday
						<ul>
							<li><perch:content id="wednesday" type="text" label="Wednesday meal"/><perch:if exists="wednesday"><span><perch:content id="wednesday_side" type="text" label="Wednesday side"/></span></perch:if></li>
							<li><perch:content id="wednesday_main_veg" type="text" label="Wednesday vegitarian meal"/><perch:if exists="wednesday_side"><span><perch:content id="wednesday_side_veg" type="text" label="Wednesday vegitarian side"/></span></perch:if></li>
						</ul>
						</li>
					<li>Thursday
						<ul>
							<li><perch:content id="thursday" type="text" label="Thursday meal"/><perch:if exists="thursday"><span><perch:content id="thursday_side" type="text" label="Thursday side"/></span></perch:if></li>
							<li><perch:content id="thursday_main_veg" type="text" label="Thursday vegitarian meal"/><perch:if exists="thursday_side"><span><perch:content id="thursday_side_veg" type="text" label="Thursday vegitarian side"/></span></perch:if></li>
						</ul>
						</li>
					<li>Friday
						<ul>
							<li><perch:content id="friday" type="text" label="Friday meal"/><perch:if exists="friday"><span><perch:content id="friday_side" type="text" label="Friday side"/></span></perch:if></li>
							<li><perch:content id="friday_main_veg" type="text" label="Friday vegitarian meal"/><perch:if exists="friday_side"><span><perch:content id="friday_side_veg" type="text" label="Friday vegitarian side"/></span></perch:if></li>
						</ul>
						</li>
				</ul>